@charset "UTF-8";

/*----index--------------------*/
body{
    background-color: #e6ffe6ff;
}

header{
    background-color: #aaffdcff;
    height: 90px;
    width: auto;
}

.main-nav {
    display: flex;
    justify-content: right;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-top: 30px;
    list-style: none;
}

.title{
    padding-right: 45%;
}

.li {
    padding-right: 10%;
}

.main-nav a {
    color: #000000;
    text-decoration: none;
}

.main-nav a:hover {
    color: #32CD32;
}

section{
    padding-left: 5%;
    margin-bottom: 200px;
}

h2{
    margin-top: 50px;
    font-size: 1.625rem;
}

.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.item{
    background-color: #fff;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.item p{
    margin-top: 10px;
}

.item img{
    height: 200px;
    width: 200px;
    margin-top: 40px;
    object-fit: cover;
}

/*----syoukai--------------------*/
.stable{
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.stitle{
    font-size: 1.75rem;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
}

.container{
    position: relative;
    width:300px;
  }

  .hukidasi{
    width: 100%;
  }

  .container p{
    position: absolute;
    padding: 10px;
    margin:0;
  }
  .container .sbun{
    top: 20px;
    left: 30px;
    width: 700px;
    text-align: center;
    color: #000;
  }

  .syoukai{
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 60%);
  }

  .return{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

/*----haiq--------------------*/
.htable{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgba(255, 255, 255, 60%);
}

.hstory{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color:rgba(255, 255, 255, 60%);

}

.haikyu2{
    margin-left: 30px;
}

.smokuji{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    padding: 30px;
    background-color:rgba(255, 255, 255, 60%);
    border: 1px dashed #333333;
    border-radius: 5px;
}

.sli{
    margin-left: 30px;
}