@charset "UTF-8";

/*----index--------------------*/
body{
    background-color: #e6ffe6ff;
}

header{
    background-color: #aaffdcff;
    height: 90px;
    width: auto;
}

.main-nav {
    display: flex;
    justify-content: right;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}

.icon{
    height: 90px;
    width: 90px;
}

.title{
    width: 70%;
    /* padding-left: 2%; */
}

.li {
    padding-top: 30px;
    width: 15%;
}

.main-nav a {
    color: #000000;
    text-decoration: none;
}

.main-nav a:hover {
    color: #32CD32;
}

section{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 200px;
}

h2{
    margin-top: 50px;
    font-size: 1.625rem;
}

.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.item{
    background-color: #fff;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.item p{
    margin-top: 10px;
}

.item img{
    height: 200px;
    width: 200px;
    margin-top: 40px;
    object-fit: cover;
}

/*----syoukai--------------------*/
.stable{
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.stitle{
    font-size: 1.75rem;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 50px;
}

.container{
    position: relative;
    width:300px;
  }

  .hukidasi{
    width: 100%;
  }

  .container p{
    position: absolute;
    padding: 10px;
    margin:0;
  }
  .container .sbun{
    top: 20px;
    left: 30px;
    width: 700px;
    text-align: center;
    color: #000;
  }

  .syoukai{
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 60%);
  }

  .return{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

/*----haiq--------------------*/
.htable{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgba(255, 255, 255, 60%);
}

.hqtdleft{
    height: 200px;
    width: 500px;
    padding-right: 20px;
}

.hqtdright{
    height: 200px;
    width: 500px;
    padding-left: 20px;
}

.hstory{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color:rgba(255, 255, 255, 60%);

}

.haikyu2{
    margin-left: 30px;
}

.hmokuji{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 150px;
    margin-bottom: 200px;
    padding: 30px;
    background-color:rgba(255, 255, 255, 60%);
    border: 1px dashed #333333;
    border-radius: 5px;
}

.hli{
    margin-left: 30px;
}

.hq{
    margin-bottom: 150px;
    margin-left: 15%;
    margin-right: 15%;
}

.hqline{
    border: solid 5px #0097a7;
}

.htable2{
    margin-top: 20px;
}

.hqmap{
    margin-top: 300px;
    text-align: center;
    
}

.hqlink{
    margin-top: 70px;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 100px;
}

.hqbotan{
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px 0;
    margin-left: 85%;
    background: #569f3c;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
}

.hqbotan:hover{
    background: #225f0d;
}

.hqreturn{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

/*---men--------------------------------------*/
